.btn-to-top {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  border: 2px solid var(--color-heading);
  transition: 0.5s;
  i {
    color: var(--color-heading);
  }
}
