@import "scss/flex";
@import "scss/grid";
@import "scss/mixin";

html,
body,
input,
button {
  font-family: "Lato", sans-serif;
}

:root {
  --primary-color: #3bb77e;
  --primary-color-hover: #c25;
  --text-color: #7e7e7e;
  --color-heading: #253d4e;
  --border-color: #f2f3f4;
  --border-color-1: #ececec;
  --border-color-2: #bce3c9;
  --color-brand-2: #fdc040;
  --color-1: #838383;
  --color-brand-dark: #29a56c;
  --background-1: #f2f3f4;
  --color-gray-4: #adadad;
  --color-muted: #b6b6b6;
  --background-3: #def9ec;
  --color-blue: #67bcee;
  --color-orange: #f59758;
  --color-gray-4: #adadad;
  --background-2: #f4f6fa;
}

.container {
  max-width: 1610px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

@media (max-width: 1350px) {
  .product-tab {
    display: none;
  }
  .products {
    .product-items {
      width: 100% !important;
    }
  }
}

@media (min-width: 1200px) {
  .col-xl-1-5 {
    width: 20% !important;
    padding: calc($gutter/2);
  }
  .col-xl-2-b {
    width: 13.6666667% !important;
    padding: calc($gutter/2);
  }
}

@media (max-width: 768px) {
  .col-b {
    .deal-list-item {
      .deal-content {
        width: 80%;
        z-index: 999 !important;
      }
    }
  }
  .col-sm-12-c {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .footer-bottom {
    .number {
      margin-left: 0 !important;
    }
  }
  .header-mid {
    .container {
      flex-direction: column;
      justify-content: center;
      .input-group {
        margin-top: 20px;
        width: 90%;
      }
      nav {
        margin-top: 30px;
      }
    }
  }
}
@media (max-width: 1000px) {
  .product-tab {
    margin-top: 60px;
    width: 100% !important;
    display: block !important;
    .product-tag {
      max-width: 100% !important;
    }
  }
}

@media (max-width: 1201px) {
  .header-top {
    display: none;
    padding: 0;
  }
  .header-mid {
    .vendor {
      display: none;
    }
    .input-group {
      display: flex;
      width: 300px;
      button {
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 1500px) {
  .header-bottom {
    .contact-support {
      display: none !important;
    }
    .none {
      display: none;
    }
  }
}
