.banner-item {
  background-image: url(../../../assets/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 89px;
  text-align: center;

  .container {
    flex-direction: column;
  }
  h1 {
    font-size: 72px;
    line-height: 1;
    margin-bottom: 27px;
    color: var(--color-heading);
  }
  p {
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 60px;
  }
  .dots {
    margin-bottom: 20px;
    button {
      cursor: pointer;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
      margin-right: 10px;
    }
    .white {
      background-color: #ffffff;
      border: 1px solid var(--color-heading);
    }
  }
}

.banner-item-2 {
  background-image: url(../../../assets/images/slider-6-min.png);
}

.banner {
  overflow: hidden;
  &:hover {
    .slick-arrow.slick-prev {
      opacity: 1;
      visibility: visible;
    }
    .slick-arrow.slick-next {
      opacity: 1;
      visibility: visible;
    }
  }
}

.slick-dots {
  bottom: 20px;
  li {
    button {
      &::before {
        content: "";
        width: 15px;
        height: 15px;
        border: 1px solid #333;
        border-radius: 50%;
        transition: 0.3s;
        opacity: 1;
      }
    }
    &.slick-active {
      button {
        &::before {
          background-color: var(--primary-color);
          border: none;
        }
      }
    }
  }
}

.slick-arrow {
  &.slick-prev {
    left: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    &::before {
      font-size: 40px;
    }
    &:hover {
      color: var(--primary-color);
    }
  }
  &.slick-next {
    right: 30px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    &::before {
      font-size: 40px;
    }
    &:hover {
      color: var(--primary-color);
    }
  }
}
