intelligent-bookstore-ecommerce-website/target/classes/META-INF/maven/com.nnthienphuc/online-book-store/pom.properties
intelligent-bookstore-ecommerce-website\target\classes\META-INF\maven\com.nnthienphuc\online-book-store\pom.properties
intelligent-bookstore-ecommerce-website/src/main/resources/application.yaml
