online-book-store/target/classes/META-INF/maven/com.nnthienphuc/online-book-store/pom.properties
D:\Github\PTIT-BookStore-Website-Project\online-book-store\target\classes\META-INF\maven\com.nnthienphuc\online-book-store\pom.properties
D:\Github\PTIT-Bookstore-E-commerce-Website\intelligent-bookstore-ecommerce-website\src\main\resources\application.yaml