<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DASHBOARD ADMIN</title>
        <!-- material -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <script src="./index.js"></script>
    </head>
    <body>
        <div class="row">
            <div id="NavBar" class="col-2"></div>
            <div class="col-10">
                <main>
                    <h1>Dashboard</h1>
                    <div class="date">
                        <input type="date">
                    </div>
                    <div class="insight">
                        <div class="sales">
                            <span class=""material-icons-sharp>analytics</span>
                            <div class="middle">
                                <div class="lef"></div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        
    </body>
</html>
