.product-tab {
  width: 19%;
  .tags {
    padding: 31px;
    border: 1px solid var(--border-color-1);
    border-radius: 15px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    margin-bottom: 30px;
    h2 {
      color: var(--color-heading);
      font-size: 24px;
      font-weight: 700;
      position: relative;
      border-bottom: 1px solid var(--border-color-1);
      padding-bottom: 20px;
      &::after {
        content: "";
        width: 80px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        background-color: var(--primary-color);
      }
    }
    .product-tag {
      margin-top: 30px;
      max-width: 220px;
      a {
        font-size: 16px;
        padding: 10px;
        color: var(--primary-color);
        border: 1px solid var(--border-color-1);
        margin: 0 10px 15px 0;
        border-radius: 30px;
        font-weight: 500;
        transition: 0.3s;
        &:hover {
          color: var(--primary-color-hover);
          transform: translateY(-5px);
        }
        i {
          color: var(--color-muted);
          margin-right: 5px;
        }
      }
    }
  }
}
.banner-2 {
  background-image: url(../../../assets/images/banner-11-min.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 88px 50px;
  width: 100%;
  transition: 0.3s;
  &:hover {
    background-color: #ffffff;
    opacity: 0.85;
  }
  span {
    color: var(--color-gray-4);
    font-size: 16px;
    margin-bottom: 5px;
  }
  h4 {
    color: var(--color-heading);
    font-size: 24px;
    margin-bottom: 15px;
    transition: 0.3s;
    &:hover {
      transform: translateY(-5px);
    }
  }
  .text {
    color: var(--primary-color);
    font-size: 24px;
  }
}
