.header-bottom .container {
  position: relative;
}
.header-bottom .container nav {
  display: flex;
}
.header-bottom .container nav .btn-Categories {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
  margin: 15px 0;
  cursor: pointer;
}
.header-bottom .container nav .btn-Categories img {
  margin-right: 7px;
}
.header-bottom .container nav .btn-Categories i {
  margin-left: 11px;
  font-size: 10px;
  text-align: center;
  transition: 0.2s;
}
.header-bottom .container nav .btn-Categories:hover {
  background-color: #29a56c;
}
.header-bottom .container nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom .container nav > ul > li {
  margin-left: 50px;
}
.header-bottom .container nav > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #253d4e;
  transition: 0.3s;
  padding: 15px 0;
}
.header-bottom .container nav > ul > li > a i {
  font-size: 7px;
  text-align: center;
  margin-left: 8px;
  color: #253d4e;
}
.header-bottom .container nav > ul > li > a .fire {
  font-size: 18px;
  color: var(--primary-color);
  margin-right: 7px;
  margin-left: 0;
}
.header-bottom .container nav > ul > li:hover {
  color: var(--primary-color);
}
.header-bottom .container nav > ul > li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.header-bottom .container .contact-support {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom .container .contact-support .icon i {
  font-size: 35px;
  color: #253d4e;
  margin-right: 10px;
}
.header-bottom .container .contact-support .contact-info a {
  display: block;
  font-size: 26px;
  font-weight: 700;
  color: var(--primary-color);
  transition: 0.3s;
}
.header-bottom .container .contact-support .contact-info a:hover {
  color: var(--primary-color-hover);
}
.header-bottom .container .contact-support .contact-info span {
  color: #7e7e7e;
  font-size: 16px;
  font-family: 500;
}

.dropdown-wrapper {
  background-color: white;
  position: absolute;
  top: 56px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 999 !important;
}

.dropdown {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateX(20px);
  box-shadow: 0 0 3px -1px #333;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px 25px;
  transition: 0.3s;
  width: 250px;
  top: 100%;
}
.dropdown h4 {
  color: var(--primary-color);
  font-size: 20px;
  margin-bottom: 20px;
}
.dropdown li {
  margin-bottom: 20px;
}
.dropdown li:last-child {
  margin-bottom: 0;
}
.dropdown li a {
  color: #7e7e7e;
  opacity: 0.6;
  display: block;
  transition: 0.3s;
  color: #253d4e;
  font-weight: 600;
}
.dropdown li a:hover {
  color: var(--primary-color);
}

.w-100 {
  width: 100%;
  left: 0;
}

.shop-now {
  background-image: url("../../../assets/images/banner-14-min.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 48px 48px 16px;
  width: 375px;
}
.shop-now h4 {
  font-size: 16px;
  margin-bottom: 20px;
  opacity: 0.8;
}
.shop-now span {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-heading);
}
.shop-now button a {
  margin-top: 45px;
  padding: 6px 20px;
  color: #fff;
  background-color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
  transition: 0.3s;
}
.shop-now button a:hover {
  color: var(--color-heading);
  background-color: var(--color-brand-2);
}

.mid .dropdown-section {
  margin-bottom: 30px;
}

.two {
  background-image: url(../../../assets/images/banner-1.png);
}
.two button a {
  margin-top: 20px;
}/*# sourceMappingURL=HeaderBottom.css.map */