.banner-wrapper {
  margin-bottom: 25px;
  .banner {
    background-image: url("../../../assets/images/banner-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 77px 50px;
    height: 300px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-color: #ffffff;
      opacity: 0.85;
    }
    span {
      display: block;
      font-size: 24px;
      font-weight: 700;
      color: var(--color-heading);
    }
    button {
      a {
        margin-top: 25px;
        padding: 6px 20px;
        color: #fff;
        background-color: var(--primary-color);
        font-size: 14px;
        font-weight: 700;
        border-radius: 4px;
        text-align: center;
        border: 1px solid transparent;
        transition: 0.3s;
        i {
          margin-left: 10px;
        }
        &:hover {
          color: var(--color-heading);
          background-color: var(--color-brand-2);
        }
      }
    }
  }
  .two {
    background-image: url(../../../assets/images/banner-2.png);
    button {
      a {
        margin-top: 54px;
      }
    }
  }
  .three {
    background-image: url(../../../assets/images/banner-3.png);
    button {
      a {
        margin-top: 54px;
      }
    }
  }
}
