.subcriber {
  .subcriber-content {
    background-image: url(../../../assets/images/banner-10-min.png);
    height: 421px;
    position: relative;
    border-radius: 20px;
    padding: 76px 80px;
    h2 {
      font-size: 40px;
      color: var(--color-heading);
      max-width: 500px;
      margin-bottom: 22px;
    }
    p {
      color: var(--text-color);
      font-size: 18px;
      span {
        color: var(--primary-color);
        margin-bottom: 48px;
      }
    }
  }
  .img {
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 40%;
  }
  .benifit-list {
    margin-top: 40px;
    margin-bottom: 30px;
    .ul {
      .li {
        padding: 20px;
        background-color: var(--background-2);
        border-radius: 10px;
        &:hover {
          img {
            transform: translateY(-5px);
          }
        }
        img {
          width: 60px;
          margin-right: 20px;
          transition: 0.3s;
        }
        h4 {
          color: var(--color-heading);
          margin-bottom: 5px;
          font-size: 18px;
        }
        p {
          color: (--color-gray-4);
          opacity: 0.5;
        }
      }
    }
  }
}
