.header-top {
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .one {
    ul {
      display: flex;
      a {
        color: var(--text-color);
        &:hover {
          color: #333;
          transition: 0.2s;
        }
      }

      li {
        margin-right: 10px;
        display: flex;
      }
      .space {
        &::after {
          content: "";
          width: 2px;
          height: 100%;
          background-color: #dedfe2;
          margin-left: 10px;
        }
      }
    }
  }

  p {
    color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
    &:hover {
      color: #c25;
      transition: 0.2s;
    }
  }

  .three {
    > ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--text-color);
      .phone {
        a {
          display: inline-block;
          color: var(--primary-color);
          &:hover {
            color: green;
          }
        }
      }
      .space {
        &::after {
          content: "";
          width: 2px;
          height: 100%;
          background-color: #dedfe2;
          margin-left: 10px;
        }
        &::before {
          content: "";
          width: 2px;
          height: 100%;
          background-color: #dedfe2;
          margin-right: 10px;
        }
      }
      > li {
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 30px;
        > a {
          margin-right: 3px;
          color: var(--text-color);
          &:hover {
            color: #333;
            transition: 0.2s;
          }
        }
        i {
          font-size: 7px;
          margin-left: 3px;
        }
        &:hover {
          .dropdown-language {
            opacity: 1;
            visibility: visible;
          }
        }

        .dropdown-language {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          box-shadow: 0 0 3px -1px #333;
          top: 100%;
          left: 15%;
          z-index: 999 !important;
          background-color: #ffffff;
          transition: 0.3s;
          padding: 10px 15px;
          width: 120px;
          border-radius: 10px;
          border: 1px solid var(--boder-color-1);
          > li {
            > a {
              color: var(--text-color);
              font-size: 13px;
              margin-bottom: 5px;
              img {
                width: 15px;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}
