.footer-top {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--border-color-2);
  .infomation {
    img {
      margin-bottom: 33px;
    }
    .para {
      color: var(--color-heading);
      font-size: 17px;
      margin-bottom: 38px;
    }
    .contact {
      p {
        color: var(--color-heading);
        font-size: 15px;
        margin-bottom: 20px;
        i {
          color: var(--primary-color);
          margin-right: 8px;
        }
        a {
          color: var(--primary-color);
          margin-left: 8px;
          transition: 0.3s;
          &:hover {
            color: var(--primary-color-hover);
          }
        }
        span {
          margin-top: 9px;
        }
      }
    }
  }
  .footer-list {
    h4 {
      margin-top: 17px;
      font-size: 24px;
      color: var(--color-heading);
      margin-bottom: 22px;
    }
    ul {
      li {
        a {
          color: var(--color-heading);
          font-size: 15px;
          margin-bottom: 15px;
          transition: 0.3s;
          &:hover {
            color: var(--primary-color);
          }
        }
        &:last-child {
          a {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .instal-app {
    h4 {
      margin-top: 27px;
      font-size: 24px;
      color: var(--color-heading);
      margin-bottom: 24px;
    }
    p {
      font-size: 16px;
      color: var(--text-color);
      margin-bottom: 35px;
    }
    .mb-25 {
      margin-bottom: 25px;
    }
    .mb-39 {
      margin-bottom: 39px;
    }
    .link-app {
      a {
        img {
          width: 145px;
          margin-right: 10px;
          transition: 0.3s;
          &:hover {
            transform: translateY(-5px);
          }
        }
        .bigger {
          width: 224px;
        }
      }
    }
  }
}
