.card {
  max-width: 100%;
  border: 1px solid var(--border-color-1);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  .card-image {
    position: relative;
    margin-top: 10px;
    img {
      width: 100%;
      &.card-img1 {
      }
      &.card-img2 {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        transition: 0.3s;
      }
    }
  }
  &:hover {
    border: 1px solid var(--border-color-2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    img.card-img2 {
      opacity: 1;
      transform: scale(1.1);
    }
    .card-image-actions {
      opacity: 1;
    }
  }
  .card-image-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    border: 1px solid var(--border-color-2);
    transition: 0.3s;
    opacity: 0;
    .icon {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid var(--border-color-2);
      position: relative;

      &:last-child {
        border-right: none;
      }
      i {
        color: var(--primary-color);
        font-size: 12px;
        transition: 0.5s;
        cursor: pointer;
      }
      span {
        position: absolute;
        background-color: var(--primary-color);
        font-size: 10px;
        padding: 5px;
        border-radius: 5px;
        width: max-content;
        opacity: 1;
        bottom: 5%;
        transition: 0.5s;
        opacity: 0;
        &::after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: var(--primary-color);
          transform: translateX(-50%) rotate(45deg);
          left: 50%;
          bottom: -4px;
          z-index: -1;
        }
      }
    }
    .quick-view {
      &:hover {
        i {
          color: var(--color-orange);
        }
        span {
          bottom: calc(100% + 6px);
          opacity: 1;
        }
      }
    }
    .compare {
      &:hover {
        i {
          color: var(--color-orange);
        }
        span {
          bottom: calc(100% + 6px);
          opacity: 1;
        }
      }
    }
    .wishlist {
      &:hover {
        i {
          color: var(--color-orange);
        }
        span {
          bottom: calc(100% + 6px);
          opacity: 1;
        }
      }
    }
  }
  .card-info {
    padding: 15px;
    .cate {
      color: var(--color-gray-4);
      font-size: 12px;
      margin-bottom: 10px;
      transition: 0.3s;
      &:hover {
        color: var(--primary-color);
      }
    }
    h2 {
      .title {
        color: var(--color-heading);
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
        transition: 0.3s;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
    .rating {
      span {
        color: var(--color-muted);
        font-size: 13px;
        margin-left: 10px;
      }
      margin-bottom: 10px;
    }
    .provier {
      color: var(--color-muted);
      font-size: 16px;
      span {
        color: var(--primary-color);
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          color: var(--primary-color-hover);
        }
      }

      margin-bottom: 17px;
    }
    .price {
      .new-price {
        color: var(--primary-color);
        font-size: 18px;
        font-weight: 800;
        margin-right: 5px;
        text-decoration: underline;
      }
      .old-price {
        color: var(--color-gray-4);
        font-size: 14px;
        text-decoration: line-through;
      }
    }
    button {
      padding: 10px 15px;
      background-color: var(--background-3);
      border-radius: 4px;
      color: var(--color-brand-dark);
      transition: 0.3s;
      cursor: pointer;
      i {
        margin-right: 5px;
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
  .yellow {
    color: var(--color-brand-2);
  }
  .gray {
    color: var(--color-muted);
  }
}
