.header-mid {
  padding: 30px 0;
  border-bottom: 1px solid #ffffff;
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0C793A;
  color: #ffffff;
    .input-group {
      padding: 5px;
      border: 2px solid #ffffff;
      border-radius: 20px;
      input {
        width: 500px;
        &::placeholder {
          font-style: italic;
          color: #ffffff;
        }
      }
      .btn-search {
        padding: 13px 22px;
        background-color: var(--primary-color);
        color: #ffffff;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background-color: #fdc040;
        }
      }
    }     
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > li {
          margin-right: 40px;
          position: relative;
          font-size: 20px;
          cursor: pointer;
          &:hover {
            .dropdown-account {
              opacity: 1;
              visibility: visible;
            }
          }
          > a {
            color: #ffffff;
            font-weight: 400;
            font-size: 20px;
            line-height: 16px;
            i {
              font-size: 20px;
              margin-right: 5px;
            }
          }
          span {
            position: absolute;
            width: 20px;
            height: 20px;
            top: -18px;
            left: 14px;
            background: var(--primary-color);
            border-radius: 50%;
            color: #ffffff;
            padding: 1px 4px;
            line-height: 20px;
            font-size: 12px;
            text-align: center;
          }
        }
      }
    }
    .dropdown-account {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      background-color: #ffffff;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
      padding: 30px 20px 27px;
      width: 200px;
      top: 100%;
      right: 0;
      border: 1px solid var(--boder-color-1);
      border-radius: 10px;
      transition: 0.3s;
      li {
        a {
          color: var(--color-heading);
          transition: 0.3s;
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
